<%- include ("../partials/head"); %>
<div class="view-container">
    <%- include ("../partials/sidebar"); %>

    <div class="right-panel">
        <%- include ("../partials/header"); %>
        <div class="content-container">
            <div class="audiobook-container">
                <% bookList.forEach(function(book) { %>
                <a class="select-audiobook" href="/listen-to-audiobook?book-loc=<%= book.location %>">
                    <%= book.location %>
                </a>
                <br>
                <% }); %>
            </div>
        </div>
    </div>

    <%- include ("../partials/footer"); %>