<%- include ("../partials/head"); %>
    <div class="view-container">
        <%- include ("../partials/sidebar"); %>

            <div class="right-panel">

                <%- include ("../partials/header"); %>

                    <div class="content-container">
                        <script src="/js/audiobooks/show_audiobooks.js"></script>
                        <% bookList.forEach(function(book) { %>
                            <div class="audiobook-container">
                                <%= book.title %>
                                    <br>by<br>
                                    <%= book.author %>
                                        <div class="chapter-list-container">
                                            <%book.chapters.forEach(function(chapter) { %>
                                                <div class="chapter-container">
                                                    <audio controls>
                                                        <source
                                                            src="/public/audiobooks/<%- book.location %>/<%- chapter %>"
                                                            type="audio/mpeg">
                                                        Your browser does not support the audio element.
                                                    </audio>
                                                </div>
                                                <% }); %>
                                        </div>
                            </div>
                            <br>
                            <% }); %>
                    </div>
            </div>
    </div>

    <%- include ("../partials/footer"); %>